<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsquickCall.dao.UserDao">

	 <!-- 用户列表List -->  
    <resultMap type="com.fsquickCall.model.User" id="resultListUser">  
        <id column="id" property="id" />  
        <result column="loginid" property="loginid" /> 
        <result column="name" property="name" />  
        <result column="phone" property="phone" />
        <result column="planid" property="planid" />  
        <result column="plan" property="plan" />  
        <result column="note" property="note" />  
    </resultMap>
  
         
    <select id="usersList" resultMap="resultListUser">  
        select * from t_user  
    </select>  
       
    <select id="usersListByPage"  resultMap="resultListUser" parameterType="java.util.Map">  
        select * from t_user limit #{0},#{1}  
    </select>  
          
    <insert id="addUser" parameterType="User" useGeneratedKeys="true"   
        keyProperty="id">  
        insert into t_user(loginid,name,phone,planid,plan,note)  
            values(#{loginid},#{name},#{phone},#{planid},#{plan},#{note})      
    </insert>  
              
	
</mapper> 