<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsquickCall.dao.StaffDao">

	<select id="login" parameterType="Staff" resultType="Staff">
		select * from t_staff where staffName=#{staffName} and password=#{password}
	</select>
	
	
</mapper> 